/* styles.css */

/* ... Código CSS anterior ... */

/* Estilos do menu responsivo */
nav {
  text-align: right;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.menu {
  display: inline-block;
  margin-top: 10px;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 28px;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu {
    display: none;
    text-align: left;
  }

  .menu.active {
    display: block;
  }
}
