/* styles.css */

/* Reset de estilos */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Definindo cores */
:root {
  --cor-primaria: #007bff; /* Azul */
  --cor-secundaria: #ff4500; /* Laranja */
  --cor-destaque: #ffc107; /* Amarelo */
  --cor-texto: #333; /* Preto */
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: var(--cor-texto);
}

/* Cabeçalho */
header {
  background-color: var(--cor-primaria);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cor-destaque);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 span {
  font-size: 48px;
  color: var(--cor-secundaria);
  animation: bounce 2s infinite;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
}

nav ul li a:hover {
  transform: scale(1.1);
}

/* Destaques */
main {
  padding: 20px;
}

main h2 {
  font-size: 24px;
  color: var(--cor-primaria);
}

main p {
  margin-bottom: 20px;
}

/* Rodapé */
footer {
  background-color: var(--cor-primaria);
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer p {
  color: var(--cor-texto);
}

/* Estilos específicos para páginas */
/* Adapte os estilos abaixo de acordo com cada página específica */

/* Página Inicial */
body.page-inicial main {
  background-color: var(--cor-secundaria);
}

/* Página de Jogos */
body.page-jogos main {
  background-color: #fff;
  text-align: center;
}

body.page-jogos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body.page-jogos li {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

body.page-jogos h3 {
  font-size: 20px;
  color: var(--cor-primaria);
}

/* Página de Promoções */
body.page-promocoes main {
  background-color: var(--cor-secundaria);
}

/* Página de Suporte */
body.page-suporte main {
  background-color: #fff;
  text-align: center;
}

/* Estilos do menu responsivo */
nav {
  text-align: right;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.menu {
  display: inline-block;
  margin-top: 10px;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  header h1 {
    font-size: 28px;
    width: 100%;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cor-primaria);
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu.active {
    display: block;
  }

  .menu li {
    display: block;
    margin-bottom: 10px;
  }
}
