/* styles.css */

/* Reset de estilos */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Definindo cores */
:root {
  --cor-primaria: #007bff; /* Azul */
  --cor-texto: #333; /* Preto */
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: var(--cor-texto);
}

/* Cabeçalho */
header {
  background-color: var(--cor-primaria);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  display: none;
}

.menu.show {
  display: block;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Destaques */
main {
  padding: 20px;
}

main h2 {
  font-size: 24px;
  color: var(--cor-primaria);
}

main p {
  margin-bottom: 20px;
}

/* Rodapé */
footer {
  background-color: var(--cor-primaria);
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer p {
  color: #fff;
}
